name: Coverage

on: [push, pull_request]

jobs:
  check:
    name: Lasso
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - run: git checkout HEAD

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Run cargo-tarpaulin
        uses: actions-rs/tarpaulin@v0.1
        with:
          args: >-
            --exclude-files benches/*
            --exclude-files fuzzing/*
            --coveralls ${{ secrets.COVERALLS_TOKEN }}
            --features multi-threaded,serialize
          out-type: Lcov

      - name: Upload to Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./lcov.info
